body {
  text-align: center;
  background-color: lightcyan;
}

#container {
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(16, [col] 0fr);
  grid-template-rows: repeat(16, [row] auto);
  grid-gap: 0px;
}

.box {
  width: 25px;
  height: 25px;
  border: 1px solid rgb(139, 139, 146);
  background-color: white;
}

h1 {
  background-color: aqua;
  margin: 0px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
}

footer {
  background-color: lightgray;
  align-items: center;
  height: 25px;
  margin-top: 20px;
  padding-top: 2px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

button {
  width: 100px;
  margin: 20px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: #000;
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
